/* Display */

.hidden {
  display: none;
}

.block {
  display: block;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.inline {
  display: inline;
}

.inline-block {
  display: inline-block;
}

.inline-flex {
  display: inline-flex;
}

.inline-grid {
  display: inline-grid;
}

/* Container */

.container {
  max-width: 992px;
  margin-left: auto;
  margin-right: auto;
}
